@font-face {

      font-family: concourse_t3_regular;
      src: url("concourse_t3_regular.woff");
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
}

@font-face {
      font-family: concourse_c8_regular;
      src: url("concourse_c8_regular.woff");
}


body {
       font-family: concourse_t3_regular;
       font-size: 20.8333px;
       text-align: center;
}

title {
       font-family:  concourse_c8_regular;
}

h3 {
      font-family:  concourse_c8_regular;
}

