html { font-size: 2.4vw; }
@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:480px) { html{ font-size: 11px; } }

@font-face {

      font-family: concourse_t3_regular;
      src: url("concourse_t3_regular.woff");
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
}

@font-face {

      font-family: concourse_t3_italic;
      src: url("concourse_t3_italic.woff");
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
}

@font-face {
      font-family: concourse_c8_regular;
      src: url("concourse_c8_regular.woff");
}

@font-face {
      font-family: equity_text_a_italic;
      src: url("equity_text_a_italic.woff");
}

body {
       font-family: equity_text_a_italic;
       font-size: 28.8333px;
       text-align: left;
       margin-left: auto;
       margin-right: auto;
       max-width:800px;
}

pre {
      font-family: equity_text_a_italic;
       font-size: 28.8333px;
}


a.nav-left {
       left:0;
       padding-left: 1rem;
       border-left: 0.8rem solid white;
}

a.nav-right {
       right: 0;
       padding-right: 1rem;
       border-right:0.8rem solid white;
}

a.nav-left, a.nav-right {
       display: block;
       position: fixed;
       top: 0;
       bottom: 0;
       width: 3.5rem;
       font-family: body-text-face;
       color: rgba(0,0,0,0);
       transition-property: color;
       transition-duration: 0.15s;
       padding-top: 10rem;
       transition-property: border-color;
       transition-duration: 0.15s;
}

h1 {
       font-family:  concourse_c8_regular;
}

h3 {
      font-family:  concourse_c8_regular;
}

em {
font-family: concourse_t3_regular;
}

strong {
font-family: concourse_t3_italic;
}

#doc {
 position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-rendering: optimizeLegibility;
}

.current, .current2, .current3, .current7, .current9, .current10, .current11, .current13 {
       display:block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
}
     